/*
File Name:app.js
Author: Joseph Volpe
ID: 301118010
Site Name: null
File Description: custom css lives here 
*/

body
{
    background-color: lightgray;
}

#canvas
{
    margin-left: 10px;
    background-color: white;
    border: 1px dotted black;
}